.continput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.boxinput {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  width: 300px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8), 0 10px 20px rgba(0, 0, 0, 0.12);
}

.inputs {
  width: 240px;
  height: 30px;
  background: linear-gradient(270deg, #ff00cc, #3333ff);
  color: white;
  outline: none;
  border: 1px solid royalblue;
  border-radius: 12px;
  transition: 0.2s ease-in;
}
.inputs:focus {
    transition: 0.2s ease-in-out;
  background: linear-gradient(270deg, #3333ff, #ff00cc);
  color: white;
}
.inputbtn {
  width: 60px;
  height: 30px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  background-color: gold;
  border: 1px solid gold;
  border-radius: 12px;
  transition: 0.1s ease-in;
}
.inputbtn:focus {
    background-color: rgb(84, 74, 17);
}
.inputbtn:hover {
    background-color: rgb(84, 74, 17);
}